.app-icon {
    width: 100px;
    height: 100px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.app-icon img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 20px;
}

.app-card {
    background: #f2f2f7;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.qr-box img {
    width: clamp(40px, 15vw, 120px);
    height: clamp(40px, 15vw, 120px);

    border-radius: 15px;
    background: white;
    padding: 5px;
}

.top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: 1000px;
    margin: 0 auto 30px;

    flex-wrap: nowrap; /* 🔥 cực quan trọng: cấm xuống dòng */
}

.header {
    flex: 1;
    text-align: center;
    min-width: 0; /* 🔥 tránh đẩy layout */
}
.header h1 {
    font-size: clamp(14px, 4vw, 28px);
}
.header p {
    font-size: clamp(10px, 2.5vw, 16px);
}

.app-sub {
    font-size: 12px;
    color: #666;
    margin-top: -8px;
    margin-bottom: 12px;
}