.app-icon {
    width: 100px;
    height: 100px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.app-icon img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 20px;
}

.app-card {
    background: #f2f2f7;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.qr-box img {
    width: clamp(50px, 12vw, 140px);
    height: clamp(50px, 12vw, 140px);

    border-radius: 20px;
    background: white;
    padding: 6px;
}

.top-box {
    padding: 0 10px;
}